section.bloque
{
	height: 600px;
}

section.bloque h2
{
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
	font-size: 55px;
	color: #f1004b;
	text-decoration: underline;
	font-weight: 700;
	padding: 15px 0 25px 0;
}

div.ofertas1
{
	display: block;
	position: relative;
	left: 60px;
}

section.bloque img 
{
	margin: 15px;
	border: 5px solid #000;
}

div.ofertas2
{
	display: block;
	position: relative;
	left: 190px;
	top: 15px;
}